 body{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
            
        }
        .layout{
            color: white;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 15px;
            width: 80%;
        }
        .box{
            color: white;
            position: absolute;
            top: 35%;
            left: 25%;
            transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 15px;
            width: 20%;
        }
        .mapa{
            color: white;
            position: absolute;
            top: 57%;
            left: 68%;
            transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 15px;
            width: 37%;
        }
        .resultado{
            color: white;
            position: absolute;
            top: 70%;
            left: 25%;
            transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 15px;
            width: 20%;
        }      
        
        .inputUser{
            background: none;
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            color: white;
            font-size: 15px;
            width: 100%;
            letter-spacing: 2px;
        }
        fieldset{
            border: 3px solid dodgerblue;
        }
                
        label{
          
            padding: 110px;
            text-align: center;
            
        }
        #submit{
            background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
            width: 100%;
            border: none;
            padding: 10px;
            color: white;
            font-size: 15vpx;
            cursor: pointer;
            border-radius: 10px;
        }

        #pagina2{
            background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
            width: 10%;
            position: absolute;
            top: 93%;
            left: 38%;
            border: none;
            padding: 10px;
            color: white;
            font-size: 15vpx;
            cursor: pointer;
            border-radius: 10px;
        }

        h3{
            font-size: 13px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

         }

        
